.chatToggle {
    position: fixed;
    overflow: hidden;
    width: 58px;
    height: 58px;
    border-radius: 58px;
    right: 1.4rem;
    bottom: 1.4rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px;
}